@font-face{
  font-family: 'calibri-bold';
  src: url('https://colombacraft.com/static/media/calibri-bold.2a395801.ttf');
}

body{
  background-color: rgb(88 148 156);
  font-family: 'calibri-bold', calibri, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}

img{
  width: 15rem;
  margin-top: 1rem;
}

span{
  font-size: 2rem;
} 

p{
  font-size: 1.5rem;
}
